<h2>Customer</h2>
<form [formGroup] = "CustomerModel.formCustomerGroup">
  Customer Code : <input type = "text" [(ngModel)] = "CustomerModel.CustomerCode" formControlName = "CustomerCodeControl"><br>
  Customer Name :<input type = "text" [(ngModel)] = "CustomerModel.CustomerName" formControlName = "CustomerNameControl"><br>
  Customer Amount :<input type = "text" [(ngModel)] = "CustomerModel.CustomerAmount" [ngModelOptions]="{standalone: true}"><br>
  <input type="button" value="Add" (click) = "Add()" [disabled] = "!(CustomerModel.formCustomerGroup.valid)" >
</form>
<br>
<div *ngIf = "CustomerModel.formCustomerGroup.dirty" 
        [hidden] = "(!(hasError('CustomerCodeControl', 'required')))">Customer Code is required</div>
<div *ngIf = "CustomerModel.formCustomerGroup.dirty"  [hidden] = "(!(hasError('CustomerNameControl', 'required')))"> Customer Name is required</div>
<div *ngIf = "CustomerModel.formCustomerGroup.dirty"  [hidden] = "(!(hasError('CustomerCodeControl', 'pattern')))">Invalid Customer Code</div>

<my-grid 
  [grid-data]="CustomerModels" 
  [grid-columns] = "[{'colName': 'CustomerCode'}, {'colName': 'CustomerName'}, {'colName': 'CustomerAmount'}]"
  (grid-selected) = "SelectCustomer($event)"></my-grid>


